<nav class="navbar glass-panel">
<div class="nav-brand" routerLink="/">
  <span class="logo-icon"></span> 

  <div class="brand">
    <span class="brand-text">RentOutRent</span>
    
    <span class="user-greeting" *ngIf="estaLogueado && nombreUsuario">
      😎Hola, {{ nombreUsuario }}
    </span>
  </div>
</div>

<div class="nav-links">
    <a (click)="irAExplorar()" class="nav-item" style="cursor: pointer;">
      Explorar
    </a>
    
    <ng-container *ngIf="estaLogueado && modoAnfitrion">
      <a routerLink="/mis-propiedades" routerLinkActive="active" class="nav-item">Mis Alojamientos</a>
      <a routerLink="/crear-propiedad" routerLinkActive="active" class="nav-item">Publicar</a>
      <a routerLink="/mis-reservas" routerLinkActive="active" class="nav-item">Reservas</a>
    </ng-container>

    <ng-container *ngIf="estaLogueado && !modoAnfitrion">
      <a routerLink="/mis-reservas" routerLinkActive="active" class="nav-item">Mis Viajes</a>
      <a routerLink="/favoritos" class="nav-item">
        Favoritos 
        <span class="badge-count" *ngIf="cantidadFavoritos > 0">{{cantidadFavoritos}}</span>
      </a>
    </ng-container>
  </div>

  <div class="nav-auth">
    <ng-container *ngIf="!estaLogueado">
      <a routerLinkActive="active" routerLink="/login"  class="nav-link">Iniciar tu Viaje</a>
      <button type="button" class="btn-primary" routerLinkActive="active" routerLink="/registro">Regístrate</button>
    </ng-container>

    <ng-container *ngIf="estaLogueado">
      <button *ngIf="esPropietario" class="btn-outline" (click)="toggleModo()">
        {{ modoAnfitrion ? '🎒 Viajero' : '🏠 Propietario' }}
      </button>

      <button *ngIf="!esPropietario" class="btn-secondary btn-ascender" (click)="ascenderAPropietario()">
        🔑 Propietario
      </button>
      
      <button class="btn-danger" (click)="cerrarSesion()">Cerrar</button>
    </ng-container>
  </div>
</nav>