<nav class="navbar">
  <div class="nav-brand">
    <h1 translate="no" class="notranslate">RentOutRent</h1>
  </div>

  <div class="nav-links" *ngIf="estaLogueado">
    <a routerLink="/catalogo" class="nav-item">Explorar</a>
    
    <a *ngIf="esPropietario" routerLink="/crear-propiedad" class="nav-item btn-propietario">
      + Añadir Propiedad
    </a>

    <a routerLink="/mis-reservas" class="nav-item">Mis Reservas</a>
    
    <button (click)="cerrarSesion()" class="btn-logout">Cerrar Sesión</button>
  </div>
</nav>
